/*Pokédex stylesheet*/
/*Fonts : font-family: 'Fredoka One', cursive;
font-family: 'Source Sans Pro', sans-serif;*/
/*Colors: Coral (#FF7F50)*/


@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Source+Sans+Pro&display=swap');

* {
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFFFFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

body {
  background-color: #FF7F50;
  margin: 11px
}

h1 {
  font-family: 'Fredoka One';
  font-size: 89px;
  color: #FFFFFF;
  text-align: center;
}
